// 内容字体样式
contText()
  font-size: .24rem
  color: #b7b2b2
  line-height: .4rem
  letter-spacing: .04rem

//内容下方信息
contIfo()
  font-size: .24rem
  color: #b7b2b2
  line-height: 1rem

 //内容多余部分用省略号
ellipsis()
  text-overflow: ellipsis
  overflow: hidden
  display: -webkit-box;
  -webkit-line-clamp: 3;      /* 可以显示的行数，超出部分用...表示*/
  -webkit-box-orient: vertical;


wrapper()
  position:absolute
  top:0
  left:0
  right:0
  bottom:0
