/* 字体颜色 */
$titleColor = #768076 //标题颜色
$textActive = #0bec52 //被点击后颜色
$textColor = #6b6969

/* 字体尺寸 */
$fontTitle = .28rem
$fontTitle-s = .26rem
$fontText = .26rem

/*  背景色 */
$bgColor = #fcfcfc
$borderColor = #c7c7c7

/* 距离顶部导航的距离 */
$navH = .7rem

/* 圆角 */
$radius = .1rem